%more {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  a:nth-child(1) {
    margin-right: 12px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #0066ff;
    text-decoration: none;
  }
  a:nth-child(2) {
    display: flex;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
* {
  margin: 0;
  padding: 0;
}
.containerfull {
  .context-first{
    display: none;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 32px;
    .context{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .text {
        
        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: bold;
          font-size: 68px;
          margin-bottom: 20px;
        }
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 38px;
          color: #667085;
        }
        a {
          color: #0066ff;
        }
      }
      .img {
        width: 50%;
        img {
          
          
          object-fit: cover;
          border-radius: 24px;
          
        }
      }
    }
  }
  .info{
    .context{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .text {
        
        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: bold;
          font-size: 68px;
          margin-bottom: 20px;
        }
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 38px;
          color: #667085;
        }
        a {
          color: #0066ff;
        }
      }
      .img {
        
        img {
          
          
          object-fit: cover;
          border-radius: 24px;
          
        }
      }
    }
  }
  .value {
    margin-top: 30px;
    margin-bottom: 72px;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
    background: #101828;
  }
  .write {
    background: #0075ff;
    margin-top: 72px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    .navbar-left {
      display: flex;
      align-items: center;
      a {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #101828;
        text-decoration: none;
      }
      .lang {
        margin: 0 32px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        a {
          color: #0066ff;
          &:first-child {
            margin-right: 12px;
            color: #98a2b3;
            text-decoration: none;
          }
        }
      }
      button {
        padding: 12px 16px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        border: 1px solid #0075ff;
        border-radius: 8px;
        color: #0075ff;
        cursor: pointer;
      }
    }
  }
  .footer {
    margin: 72px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      &:nth-child(1) {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #344054;
      }
      &:nth-child(2) {
        margin-left: 24px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #98a2b3;
      }
    }
  }
  .container {
    margin: 0 auto;
    max-width: 1504px;

    .info {
      width: 100%;
      margin-top: 60px;
      .context {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(2) {
          display: flex;
          padding: 130px 0;
        }
        .text {
          width: 617px;
          h1 {
            font-family: "Inter";
            font-style: normal;
            font-weight: bold;
            font-size: 68px;
          }
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 38px;
            color: #667085;
          }
          a {
            color: #0066ff;
          }
        }
        .img {
          width: 744px;
          height: 566px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
          }
        }
      }
    }

    .contextAleph {
      margin-top: 144px;
      
      margin-bottom: 56px;
      text-align: center;
      .contextValue {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 32px;
        padding-right: 32px;
        background: #101828;
        border-radius: 16px;
        .content {

          width: 33.3%;
          
          &:nth-child(2) {
            margin: 0 32px;
          }
        }

        h1 {
          padding-top: 64px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 60px;
          color: #ffffff;
          margin-bottom: 12px;
        }
        h4 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          color: #e4e7ec;
          padding-bottom: 64px;
        }
      }
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
      }
      p {
        margin-top: 20px;
        margin-bottom: 56px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #667085;
        a {
          color: #667085;
        }
      }
      .imgContextAleph {
        margin-bottom: 56px;
      }
    }
    .more {
      @extend %more;
      text-decoration: underline;
    }
    .map {
      margin-top: 144px;
      text-align: center;
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 68px;
      }
      p {
        margin-top: 28px;
        margin-bottom: 75px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        color: #667085;
      }
      img {
        width: 848px;
      }
    }
    .valuecontainer {
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 68px;
        color: #ffffff;
      }
      p {
        margin-top: 12px;
        margin-bottom: 48px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #e4e7ec;
      }
      .rowImg {
        display: flex;
        justify-content: center;

        h1 {
          margin-top: 36px;
          margin-bottom: 20px;
          font-family: "Inter";
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          color: #101828;


        }
        p {
          margin: 0;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 38px;
          color: #344054;
          letter-spacing: -0.0075em;
        }
        .rowcontent {
          width: 480px;
          padding: 48px 32px;
         
          border-radius: 20px;
          p{
            margin-bottom: 0;
          }
          text-align: left;
          &:nth-child(1) {
            background: #fef0c7;
          }
          &:nth-child(2) {
            background: #d1e9ff;
            margin: 0 32px;
          }
          &:nth-child(3) {
            background: #d1fadf;
          }
        }
      }
    }
    .contacts {
      margin-top: 72px;
      margin-bottom: 144px;
      padding: 48px 32px;
      text-align: center;
      background: #F2F4F7;
      border-radius: 20px;
      h1 {
        
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
      }
      p {
        padding-top: 12px;
        
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #667085;
      }
      .rowcontacts {
        
        display: flex;
        justify-content: center;
        a {
          margin-right: 48px;
          padding-top: 28px;
        }
      }
    }
    .vacancy {
      
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 68px;
      }
      h2 {
        padding-bottom: 16px;
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
      }
      h6 {
        padding-top: 20px;
        padding-bottom: 48px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #667085;
      }
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 38px;
        color: #667085;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 57px;
          .more {
            @extend %more;
            margin-top: 20px;
            justify-content: left;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .writecontainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 72px 0;
      .writeContext {
        width: 45%;
        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: bold;
          font-size: 68px;
          color: #f9f9f9;
          letter-spacing: -2px;
        }
        p {
          margin-top: 24px;
          margin-bottom: 56px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 32px;
          color: rgba(249, 249, 249, 0.7);
        }
        a {
          padding: 16px 32px;
          font-family: "Inter";
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          color: #f9f9f9;
          background: #fa0c62;
          border-radius: 8px;
          text-decoration: none;
        }
      }
      .writeImg {
        width: 45%;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1921px) {
  .containerfull {
    .container {
      margin: auto 208px;
      .info {
        .context {
          .text {
            width: 40%;
          }
          .img {
            width: 50%;
            height: 100%;
            img {
              width: 100%;
              height: 85%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1601px) {
  .containerfull {
    .container {
      margin: auto 48px;
    }
  }
}
@media screen and (max-width: 1345px) {
  .containerfull {
    .context-first{
      display: flex;
      .context{
        .img{
          img{
            border-radius: 20px;
          }
        }
      }
      
    }
    .container {
      margin: auto 32px;
      .info{
        margin-top: 0;
        .context{
          &:first-child{
            display: none;
          }
          .img{
            img{
              border-radius: 20px;
            }
          }
        }
      }
      .contacts {
        .rowcontacts {
          display: flex;
          align-items: center;
          a {
            img {
              width: 100%;
            }
          }
        }
      }
      .writecontainer {
        .writeImg {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1141px) {
  .containerfull {
    .context-first{
      display: flex;
      .context{
        .img{
          img{
            border-radius: 17px;
          }
        }
      }
      
    }
    .container {
      margin: auto 32px;
      .info {
        .context {
          justify-content: space-between;
          .img{
            img{
              border-radius: 17px;
            }
          }
          &:nth-child(2){
            .text{
              padding-left: 16px;
            }
          }
        }
      }
      
      .valuecontainer {
        .rowImg {
          flex-wrap: wrap;
          justify-content: space-between;
          
          .rowcontent {

            &:nth-child(1) {
              width: 100%;
            }
            &:nth-child(2) {
              width: 42.99%;
              margin: 20px 0 0 0;
            }
            &:nth-child(3) {
              width: 42.99%;
              margin-top: 20px;
            }
          }
        }
      }
      .writecontainer {
        .writeContext{
          width: 49%;
        }
        .writeImg {
          width: 49%;
          margin: 0;
          padding-right: 0;
          
          img {
            width: 100%;
          }
        }
      }
      .contacts { 

        .rowcontacts {
          flex-wrap: wrap;         
          padding: 0 64px;          
        }
      }
      .map {
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  .containerfull {
    .context-first{
      display: none;
    }
    .navbar {
      padding: 16px;
      img {
        &:first-child {
          width: 166px;
        }
      }
      .navbar-left {
        img {
          width: 32px;
        }
        .lang {
          margin: 0;
          margin-right: 20px;
        }
        .vacancy {
          display: none;
        }
      }
    }
    .value {
      margin: 60px 0 0 0;
      padding: 48px 0;
    }
    .container {
      margin: auto 16px;

      .info {
        margin-top: 48px;

        .context {
          flex-direction: column;
          justify-content: left;
          &:nth-child(1){
            display: flex;
          }
          &:nth-child(2) {
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
          }
          .text {
            width: 65%;
            margin-bottom: 40px;
            h1 {
              font-family: "Inter";
              font-style: normal;
              font-weight: bold;
              font-size: 42px;
              line-height: 42px;
              margin-bottom: 20px;
            }
            p {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 28px;
              color: #667085;
            }
            a {
              color: #0066ff;
            }
          }
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 95px;
            width: 81%;
            img {
              border-radius: 12px;
            }
          }
        }
      }
      .contextAleph {
        background: #101828;
        border-radius: 16px;
        margin: 0;
        margin-bottom: 32px;
        padding: 64px;

        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          color: #f9f9f9;
        }
        p {
          margin-bottom: 0;
          font-family: "Roboto";
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(249, 249, 249, 0.7);
          a{
            color: rgba(249, 249, 249, 0.7);

          }
        }
        .contextValue {
          flex-direction: column;
          margin: 0;
          padding: 0;
          .content {
            width: auto;
            &:nth-child(2) {
              margin: 0;
            }
          }
          h1 {
            padding-top: 32px;
          }
          h4 {
            padding: 0;
          }
        }
      }
      .more {
        width: 40%;
        margin: auto;
        justify-content: center;
        a {
          &:first-child {
            font-size: 17px;
          }
          &:last-child {
            width: 17px;
          }
        }
      }
      .map {
        margin-top: 97px;
        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: bold;
          font-size: 42px;
        }
        p {
          margin-top: 18px;
          margin-bottom: 56px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
        }
      }
      .valuecontainer {
        h1{
          font-size: 42px;
        }
        p {
          font-size: 16px;
          margin: 10px 0 28px 0;
        }
        .rowImg {
          flex-direction: column;
          h1{
            margin-top: 28px;
            margin-bottom: 12px;
          }
          .rowcontent {
            padding: 32px 24px;
            border-radius: 16px;
            img {
              width: 120px;
            }
            h1 {
              font-size: 24px;
            }
            p {
              font-size: 24px;
              line-height: 28px;
              margin-bottom: 0;
            }
            padding: 32px 24px;

            &:nth-child(1) {
              width: auto;
              height: 10%;
            }
            &:nth-child(2) {
              width: auto;
              margin: 16px 0;
            }
            &:nth-child(3) {
              width: auto;
              margin: 0;
            }
          }
        }
      }
      .contacts {
        margin: 48px 0;
        padding: 48px 32px;
        h1 {
          padding: 0;
          font-size: 24px;
        }
        p {
          padding: 0;
          margin: 8px 0 24px 0;
          font-size: 16px;
        }
        .rowcontacts {
          margin: 0;
          justify-content: center;
         
        }
      }
      .vacancy{
        h1{
          font-size: 42px;
        }
        h6{
          font-size: 16px;
          padding-top: 12px;
          padding-bottom: 36px;
        }
        ul{
          li{
            h2{
              font-size: 24px;
            }
            p{
              font-size: 24px;
              line-height: 28px;
              letter-spacing: -1px;
            }
          }
        }
      }
      .writecontainer {
        flex-direction: column;
        text-align: center;
        .writeContext {
          width: 100%;

          h1 {
            font-size: 42px;
          }
          p {
            width: 100%;
            font-size: 20px;
            line-height: 32px;
          }
          a {
            font-size: 16px;
          }
        }
        .writeImg {
          width: 100%;
          margin-top: 56px;
          padding: 0;
          border-radius: 12px;
        }
      }
      .footer{
        margin: 60px 24px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .containerfull {
    .container {
      .info{
        .context{
          .text{
            width: 100%;
          }
          .img{
            width: 100%;
            img{
              border-radius: 6px;
            }
          }
        }
      }
      .contextAleph{
        border-radius: 6px;
      }
      .more{
        width: 90%;
        a{
          font-size: 17px;
        }
      }
      .contacts {
        .rowcontacts {
          flex-direction: column;
          a {
            margin: 0;
            padding-top: 33px;
            &:nth-child(1){
              padding-top: 0;
              order: 1;
            }
            &:nth-child(2){
              order:5;
            }
            &:nth-child(3){
              order:2;
            }
            &:nth-child(4){
              order:3;
            }
            &:nth-child(5){
              order:4;
            }
            
          }
        }
      }
      
      .map {
        font-size: 17px;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 361px) {
  .containerfull {
    .container {
      margin: auto 16px;
      .info {
        .context {
          .text {
            width: 100%;
            margin-bottom: 33px;
          }
          .img{
            width: 100%;
            margin-bottom: 96px;
            
            img{
              border-radius: 4px;
            }
          }
        }
      }
      .contextAleph{
        border-radius: 6px;
      }
      
      .writecontainer{
        .writeContext{
          h1{
            letter-spacing: -1px;
          }
        }
      }
    }
  }
}
