.containerfull .container .more, .containerfull .container .vacancy ul li .more {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerfull .container .more a:nth-child(1), .containerfull .container .vacancy ul li .more a:nth-child(1) {
  margin-right: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #0066ff;
}

.containerfull .container .more a:nth-child(2), .containerfull .container .vacancy ul li .more a:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.containerfull .value {
  margin-top: 30px;
  margin-bottom: 72px;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background: #101828;
}

.containerfull .write {
  background: #0075ff;
  margin-top: 72px;
}

.containerfull .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 32px;
}

.containerfull .navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerfull .navbar .navbar-left a {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #101828;
  text-decoration: none;
}

.containerfull .navbar .navbar-left .lang {
  margin: 0 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.containerfull .navbar .navbar-left .lang a {
  color: #0066ff;
}

.containerfull .navbar .navbar-left .lang a:first-child {
  margin-right: 12px;
  color: #98a2b3;
  text-decoration: none;
}

.containerfull .navbar .navbar-left button {
  padding: 12px 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #0075ff;
  border-radius: 8px;
  color: #0075ff;
  cursor: pointer;
}

.containerfull .footer {
  margin: 72px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerfull .footer a {
  text-decoration: none;
}

.containerfull .footer a:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #344054;
}

.containerfull .footer a:nth-child(2) {
  margin-left: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #98a2b3;
}

.containerfull .container {
  margin: 0 auto;
  max-width: 1504px;
}

.containerfull .container .info {
  width: 100%;
  margin-top: 60px;
}

.containerfull .container .info .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerfull .container .info .context:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 130px 0;
}

.containerfull .container .info .context .text {
  width: 617px;
}

.containerfull .container .info .context .text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
}

.containerfull .container .info .context .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #667085;
}

.containerfull .container .info .context .text a {
  color: #0066ff;
}

.containerfull .container .info .context .img {
  width: 744px;
  height: 566px;
}

.containerfull .container .info .context .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.containerfull .container .contextAleph {
  margin-top: 72px;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

.containerfull .container .contextAleph .contextValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 56px;
  background: #101828;
  border-radius: 16px;
}

.containerfull .container .contextAleph .contextValue .content {
  width: 437px;
}

.containerfull .container .contextAleph .contextValue .content:nth-child(2) {
  margin: 0 32px;
}

.containerfull .container .contextAleph .contextValue h1 {
  padding-top: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 12px;
}

.containerfull .container .contextAleph .contextValue h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #e4e7ec;
  padding-bottom: 64px;
}

.containerfull .container .contextAleph h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.containerfull .container .contextAleph p {
  margin-top: 20px;
  margin-bottom: 56px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #667085;
}

.containerfull .container .contextAleph p a {
  color: #667085;
}

.containerfull .container .contextAleph .imgContextAleph {
  margin-bottom: 56px;
}

.containerfull .container .map {
  padding-top: 72px;
  text-align: center;
}

.containerfull .container .map h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
}

.containerfull .container .map p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #667085;
}

.containerfull .container .map img {
  width: 848px;
}

.containerfull .container .valuecontainer h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  color: #ffffff;
}

.containerfull .container .valuecontainer p {
  margin-top: 12px;
  margin-bottom: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #e4e7ec;
}

.containerfull .container .valuecontainer .rowImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerfull .container .valuecontainer .rowImg h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #101828;
}

.containerfull .container .valuecontainer .rowImg p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #344054;
}

.containerfull .container .valuecontainer .rowImg .rowcontent {
  width: 480px;
  padding-top: 48px;
  padding-left: 32px;
  border-radius: 20px;
  text-align: left;
}

.containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(1) {
  background: #fef0c7;
}

.containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(2) {
  background: #d1e9ff;
  margin: 0 32px;
}

.containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(3) {
  background: #d1fadf;
}

.containerfull .container .contacts {
  margin: 72px 0;
  text-align: center;
}

.containerfull .container .contacts h1 {
  padding-top: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.containerfull .container .contacts p {
  padding-top: 12px;
  padding-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #667085;
}

.containerfull .container .contacts .rowcontacts {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerfull .container .contacts .rowcontacts a {
  margin-right: 48px;
}

.containerfull .container .vacancy {
  margin-top: 192px;
}

.containerfull .container .vacancy h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
}

.containerfull .container .vacancy h2 {
  padding-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.containerfull .container .vacancy h6 {
  padding-top: 20px;
  padding-bottom: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.containerfull .container .vacancy p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #667085;
}

.containerfull .container .vacancy ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.containerfull .container .vacancy ul li {
  margin-bottom: 57px;
}

.containerfull .container .vacancy ul li .more {
  margin-top: 20px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.containerfull .container .vacancy ul li:last-child {
  margin-bottom: 0;
}

.containerfull .container .writecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 72px 0;
}

.containerfull .container .writecontainer .writeContext {
  width: 45%;
}

.containerfull .container .writecontainer .writeContext h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  color: #f9f9f9;
}

.containerfull .container .writecontainer .writeContext p {
  margin-top: 24px;
  margin-bottom: 56px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: rgba(249, 249, 249, 0.7);
}

.containerfull .container .writecontainer .writeContext a {
  padding: 16px 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #f9f9f9;
  background: #fa0c62;
  border-radius: 8px;
  text-decoration: none;
}

.containerfull .container .writecontainer .writeImg {
  width: 45%;
}

.containerfull .container .writecontainer .writeImg img {
  width: 100%;
}

@media screen and (max-width: 1921px) {
  .containerfull .container {
    margin: auto 208px;
  }
  .containerfull .container .info .context .text {
    width: 40%;
  }
  .containerfull .container .info .context .img {
    width: 50%;
    height: 50%;
  }
  .containerfull .container .info .context .img img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1601px) {
  .containerfull .container {
    margin: auto 48px;
  }
}

@media screen and (max-width: 1345px) {
  .containerfull .container {
    margin: auto 32px;
  }
  .containerfull .container .contacts .rowcontacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containerfull .container .contacts .rowcontacts a img {
    width: 100%;
  }
  .containerfull .container .writecontainer .writeImg img {
    width: 100%;
  }
}

@media screen and (max-width: 1141px) {
  .containerfull .container {
    margin: auto 32px;
  }
  .containerfull .container .info .context .text {
    height: 100%;
  }
  .containerfull .container .info .context .img {
    height: 100%;
  }
  .containerfull .container .info .context .img img {
    width: 100%;
    height: 100%;
  }
  .containerfull .container .valuecontainer .rowImg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(1) {
    width: 100%;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(2) {
    width: 45%;
    margin: 20px 0 0 0;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(3) {
    width: 45%;
    margin-top: 20px;
  }
  .containerfull .container .writecontainer .writeImg {
    width: 50%;
    margin: 0;
    padding-right: 0;
    padding-left: 30px;
  }
  .containerfull .container .writecontainer .writeImg img {
    width: 100%;
  }
  .containerfull .container .contacts .rowcontacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerfull .container .contacts .rowcontacts a {
    width: 25%;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(4) {
    margin-top: 25px;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(5) {
    margin-top: 20px;
  }
  .containerfull .container .map img {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .containerfull .container {
    margin: auto 24px;
  }
  .containerfull .container .info {
    margin-top: 48px;
  }
  .containerfull .container .info .context {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .containerfull .container .info .context:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  .containerfull .container .info .context .text {
    width: 80%;
    margin-bottom: 28px;
  }
  .containerfull .container .info .context .text h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
  }
  .containerfull .container .info .context .text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #667085;
  }
  .containerfull .container .info .context .text a {
    color: #0066ff;
  }
  .containerfull .container .info .context .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 95px;
    width: 100%;
  }
  .containerfull .container .info .context .img img {
    border-radius: 20px;
  }
  .containerfull .container .contextAleph {
    background: #101828;
    border-radius: 16px;
    margin-bottom: 32px;
  }
  .containerfull .container .contextAleph h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #f9f9f9;
  }
  .containerfull .container .contextAleph p {
    padding: 0px 64px;
    margin-bottom: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
  }
  .containerfull .container .contextAleph .contextValue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .containerfull .container .contextAleph .contextValue h4 {
    padding: 0;
  }
  .containerfull .container .map h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
  }
  .containerfull .container .map p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
  .containerfull .container .valuecontainer .rowImg {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent h1 {
    width: 100%;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent p {
    width: 100%;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(1) {
    width: 100%;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(2) {
    width: 100%;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(3) {
    width: 100%;
  }
  .containerfull .container .writecontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .containerfull .container .writecontainer .writeContext {
    width: 100%;
  }
  .containerfull .container .writecontainer .writeContext h1 {
    font-size: 42px;
  }
  .containerfull .container .writecontainer .writeContext p {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
  }
  .containerfull .container .writecontainer .writeContext a {
    font-size: 16px;
  }
  .containerfull .container .writecontainer .writeImg {
    width: 100%;
    margin-top: 56px;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .containerfull .container .contacts .rowcontacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerfull .container .contacts .rowcontacts a {
    margin: 0;
    margin-bottom: 35px;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 70%;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 60%;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */