.containerfull .container .more, .containerfull .vacancy ul li .more {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerfull .container .more a:nth-child(1), .containerfull .vacancy ul li .more a:nth-child(1) {
  margin-right: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #0066ff;
  text-decoration: none;
}

.containerfull .container .more a:nth-child(2), .containerfull .vacancy ul li .more a:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerfull .container .more a:nth-child(2) img, .containerfull .vacancy ul li .more a:nth-child(2) img {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

* button {
  border: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  width: 516px;
  -webkit-box-shadow: 0px 12px 17px rgba(71, 78, 98, 0.12), 0px 5px 22px rgba(71, 78, 98, 0.12), 0px 7px 8px rgba(71, 78, 98, 0.12);
          box-shadow: 0px 12px 17px rgba(71, 78, 98, 0.12), 0px 5px 22px rgba(71, 78, 98, 0.12), 0px 7px 8px rgba(71, 78, 98, 0.12);
  border-radius: 12px;
}

.modal .modal-content h1 {
  padding: 48px 32px 20px 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
  letter-spacing: -0.5px;
}

.modal .modal-content form {
  padding: 0 32px 48px 32px;
}

.modal .modal-content form p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #98a2b3;
}

.modal .modal-content form p:last-child {
  text-align: center;
}

.modal .modal-content form p a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #98a2b3;
}

.modal .modal-content form .inputfile-box {
  position: relative;
}

.modal .modal-content form .inputfile-box .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 332px;
  border: 1px solid #D6DBE4;
  border-radius: 6px;
}

.modal .modal-content form .inputfile-box .file-box {
  padding: 8px 51px 8px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  border-right: 1px solid #D6DBE4;
  color: #98A2B3;
}

.modal .modal-content form .inputfile-box label {
  width: auto;
}

.modal .modal-content form .inputfile-box label .file-button {
  padding: 8px 16px;
  cursor: pointer;
}

.modal .modal-content form .inputfile-box .inputfile {
  display: none;
}

.modal .modal-content form .sumbit {
  height: auto;
  margin-top: 28px;
  margin-bottom: 20px;
  padding: 16px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f9f9f9;
  background: #e31b53;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.modal .modal-content form label {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
}

.modal .modal-content form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #d6dbe4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
}

.modal .modal-content form textarea {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d6dbe4;
  height: 120px;
  border-radius: 6px;
  resize: none;
}

.modal .modal-content .close-button {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background: #ffffff;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.containerfull .context-first {
  display: none;
  overflow: hidden;
  margin-top: 60px;
  margin-left: 32px;
}

.containerfull .context-first .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerfull .context-first .context .text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  margin-bottom: 20px;
}

.containerfull .context-first .context .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #667085;
}

.containerfull .context-first .context .text a {
  color: #0066ff;
}

.containerfull .context-first .context .img {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.containerfull .context-first .context .img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}

.containerfull .info .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerfull .info .context .text {
  width: 617px;
}

.containerfull .info .context .text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  margin-bottom: 20px;
}

.containerfull .info .context .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #667085;
}

.containerfull .info .context .text a {
  color: #0066ff;
}

.containerfull .info .context .img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.containerfull .info .context .img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}

.containerfull .value {
  margin-top: 56px;
  margin-bottom: 72px;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background: #101828;
}

.containerfull .write {
  background: #0075ff;
  margin-top: 72px;
}

.containerfull .navbar {
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 32px;
}

.containerfull .navbar .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerfull .navbar .navbar-left a {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #101828;
  text-decoration: none;
}

.containerfull .navbar .navbar-left .lang {
  margin: 0 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.containerfull .navbar .navbar-left .lang a {
  color: #0066ff;
}

.containerfull .navbar .navbar-left .lang a:first-child {
  margin-right: 12px;
  color: #98a2b3;
  text-decoration: none;
}

.containerfull .navbar .navbar-left button {
  padding: 12px 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #0075ff;
  border-radius: 8px;
  color: #0075ff;
  cursor: pointer;
}

.containerfull .sticky {
  position: fixed;
  top: 0;
}

.containerfull .footer {
  margin: 72px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerfull .footer a {
  text-decoration: none;
}

.containerfull .footer a:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #344054;
}

.containerfull .footer a:nth-child(2) {
  margin-left: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #98a2b3;
}

.containerfull .container {
  margin: 0 auto;
  max-width: 1504px;
}

.containerfull .container .info {
  width: 100%;
  margin-top: 60px;
}

.containerfull .container .info .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerfull .container .info .context:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 130px 0;
}

.containerfull .container .info .context .text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
}

.containerfull .container .info .context .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #667085;
}

.containerfull .container .info .context .text a {
  color: #0066ff;
}

.containerfull .container .info .context .img {
  width: 744px;
  height: 566px;
}

.containerfull .container .info .context .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}

.containerfull .container .contextAleph {
  margin-top: 144px;
  margin-bottom: 56px;
  text-align: center;
}

.containerfull .container .contextAleph .contextValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  background: #101828;
  border-radius: 16px;
}

.containerfull .container .contextAleph .contextValue .content {
  width: 33.3%;
}

.containerfull .container .contextAleph .contextValue .content:nth-child(2) {
  margin: 0 32px;
}

.containerfull .container .contextAleph .contextValue h1 {
  padding-top: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 12px;
}

.containerfull .container .contextAleph .contextValue h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #e4e7ec;
  padding-bottom: 64px;
}

.containerfull .container .contextAleph h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.containerfull .container .contextAleph p {
  margin-top: 20px;
  margin-bottom: 56px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #667085;
}

.containerfull .container .contextAleph p a {
  color: #667085;
}

.containerfull .container .contextAleph .imgContextAleph {
  margin-bottom: 56px;
}

.containerfull .container .more {
  text-decoration: underline;
}

.containerfull .container .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 144px;
  text-align: center;
}

.containerfull .container .map h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
}

.containerfull .container .map p {
  margin-top: 28px;
  margin-bottom: 75px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #667085;
}

.containerfull .container .map .map-dots circle {
  fill: #667085;
}

.containerfull .container .valuecontainer h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  color: #ffffff;
}

.containerfull .container .valuecontainer p {
  margin-top: 12px;
  margin-bottom: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #e4e7ec;
}

.containerfull .container .valuecontainer .rowImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerfull .container .valuecontainer .rowImg h1 {
  margin-top: 36px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #101828;
}

.containerfull .container .valuecontainer .rowImg p {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #344054;
  letter-spacing: -0.0075em;
}

.containerfull .container .valuecontainer .rowImg .rowcontent {
  width: 480px;
  padding: 48px 32px;
  border-radius: 20px;
  text-align: left;
}

.containerfull .container .valuecontainer .rowImg .rowcontent p {
  margin-bottom: 0;
}

.containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(1) {
  background: #fef0c7;
}

.containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(2) {
  background: #d1e9ff;
  margin: 0 32px;
}

.containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(3) {
  background: #d1fadf;
}

.containerfull .container .valuecontainer .rowImg .row-content__1140 {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerfull .container .valuecontainer .rowImg .row-content__1140 .rowcontent__1140 {
  text-align: left;
  width: 50%;
  padding: 48px 32px;
  border-radius: 20px;
  text-align: left;
}

.containerfull .container .valuecontainer .rowImg .row-content__1140 .rowcontent__1140 p {
  margin-bottom: 0;
}

.containerfull .container .valuecontainer .rowImg .row-content__1140 .rowcontent__1140:first-child {
  background: #d1e9ff;
  margin-top: 20px;
  margin-right: 20px;
}

.containerfull .container .valuecontainer .rowImg .row-content__1140 .rowcontent__1140:last-child {
  background: #d1fadf;
  margin-top: 20px;
}

.containerfull .contacts {
  margin-top: 72px;
  margin-bottom: 144px;
  padding: 48px 32px;
  text-align: center;
  background: #f2f4f7;
  border-radius: 20px;
}

.containerfull .contacts h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.containerfull .contacts p {
  padding-top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #667085;
}

.containerfull .contacts .rowcontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerfull .contacts .rowcontacts a {
  margin-right: 48px;
  padding-top: 28px;
}

.containerfull .vacancy h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
}

.containerfull .vacancy h2 {
  padding-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.containerfull .vacancy h6 {
  padding-top: 20px;
  padding-bottom: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #667085;
}

.containerfull .vacancy p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
  color: #667085;
}

.containerfull .vacancy ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.containerfull .vacancy ul li {
  margin-bottom: 57px;
}

.containerfull .vacancy ul li .more {
  margin-top: 20px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.containerfull .vacancy ul li:last-child {
  margin-bottom: 0;
}

.containerfull .writecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 72px 0;
}

.containerfull .writecontainer .writeContext {
  width: 45%;
}

.containerfull .writecontainer .writeContext h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  color: #f9f9f9;
  letter-spacing: -2px;
}

.containerfull .writecontainer .writeContext p {
  margin-top: 24px;
  margin-bottom: 56px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: rgba(249, 249, 249, 0.7);
}

.containerfull .writecontainer .writeContext .trigger {
  padding: 16px 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #f9f9f9;
  background: #fa0c62;
  border-radius: 8px;
}

.containerfull .writecontainer .writeImg {
  width: 45%;
}

.containerfull .writecontainer .writeImg img {
  width: 100%;
}

@media screen and (max-width: 1921px) {
  .containerfull .container {
    margin: auto 208px;
  }
  .containerfull .container .info .context .img {
    width: 50%;
    height: 100%;
  }
  .containerfull .container .info .context .img img {
    width: 100%;
    height: 85%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .modal .modal-content {
    width: 580px;
  }
}

@media screen and (max-width: 1601px) {
  .containerfull .container {
    margin: auto 48px;
  }
  .containerfull .container .map .img-map {
    background-size: 100%;
  }
}

@media screen and (max-width: 1345px) {
  .containerfull .context-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .containerfull .context-first .context .img img {
    border-radius: 20px;
  }
  .containerfull .container {
    margin: auto 32px;
  }
  .containerfull .container .info {
    margin-top: 0;
  }
  .containerfull .container .info .context:first-child {
    display: none;
  }
  .containerfull .container .info .context .img img {
    border-radius: 20px;
  }
  .containerfull .container .contextAleph .contextValue {
    padding: 0 32px;
  }
  .containerfull .container .map img {
    width: 80%;
  }
  .containerfull .container .contacts .rowcontacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containerfull .container .contacts .rowcontacts a img {
    width: 100%;
  }
  .containerfull .container .writecontainer .writeImg img {
    width: 100%;
  }
}

@media screen and (max-width: 1141px) {
  .containerfull .context-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .containerfull .context-first .context .img img {
    border-radius: 17px;
  }
  .containerfull .container {
    margin: auto 32px;
  }
  .containerfull .container .info .context {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .containerfull .container .info .context .img img {
    border-radius: 17px;
  }
  .containerfull .container .info .context:nth-child(2) .text {
    padding-left: 16px;
  }
  .containerfull .container .info .context:nth-child(3) .text {
    padding-right: 16px;
  }
  .containerfull .container .valuecontainer .rowImg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(1) {
    width: 100%;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(2) {
    display: none;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(3) {
    display: none;
  }
  .containerfull .container .valuecontainer .rowImg .row-content__1140 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .containerfull .container .writecontainer .writeContext {
    width: 49%;
  }
  .containerfull .container .writecontainer .writeImg {
    width: 49%;
    margin: 0;
    padding-right: 0;
  }
  .containerfull .container .writecontainer .writeImg img {
    width: 100%;
  }
  .containerfull .container .contacts .rowcontacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 64px;
  }
}

@media screen and (max-width: 769px) {
  .containerfull .context-first {
    display: none;
  }
  .containerfull .navbar {
    padding: 16px;
  }
  .containerfull .navbar img:first-child {
    width: 166px;
  }
  .containerfull .navbar .navbar-left img {
    width: 32px;
  }
  .containerfull .navbar .navbar-left .lang {
    margin: 0;
    margin-right: 20px;
  }
  .containerfull .navbar .navbar-left .vacancy {
    display: none;
  }
  .containerfull .value {
    margin: 60px 0 0 0;
    padding: 48px 0;
  }
  .containerfull .container {
    margin: auto 16px;
  }
  .containerfull .container .info {
    margin-top: 48px;
  }
  .containerfull .container .info .context {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .containerfull .container .info .context:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .containerfull .container .info .context:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  .containerfull .container .info .context:nth-child(2) .text {
    padding: 0;
  }
  .containerfull .container .info .context:nth-child(3) .text {
    padding: 0;
  }
  .containerfull .container .info .context .text {
    width: 65%;
    margin-bottom: 40px;
  }
  .containerfull .container .info .context .text h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  .containerfull .container .info .context .text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #667085;
  }
  .containerfull .container .info .context .text a {
    color: #0066ff;
  }
  .containerfull .container .info .context .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 95px;
    width: 81%;
  }
  .containerfull .container .info .context .img img {
    border-radius: 12px;
  }
  .containerfull .container .contextAleph {
    background: #101828;
    border-radius: 16px;
    margin: 0;
    margin-bottom: 32px;
    padding: 64px;
  }
  .containerfull .container .contextAleph h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #f9f9f9;
  }
  .containerfull .container .contextAleph p {
    margin-bottom: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(249, 249, 249, 0.7);
  }
  .containerfull .container .contextAleph p a {
    color: rgba(249, 249, 249, 0.7);
  }
  .containerfull .container .contextAleph .contextValue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .containerfull .container .contextAleph .contextValue .content {
    width: auto;
  }
  .containerfull .container .contextAleph .contextValue .content:nth-child(2) {
    margin: 0;
  }
  .containerfull .container .contextAleph .contextValue h1 {
    padding-top: 32px;
  }
  .containerfull .container .contextAleph .contextValue h4 {
    padding: 0;
  }
  .containerfull .container .more {
    width: 40%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerfull .container .more a:first-child {
    font-size: 17px;
  }
  .containerfull .container .more a:last-child {
    width: 17px;
  }
  .containerfull .container .map {
    margin-top: 97px;
  }
  .containerfull .container .map h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
  }
  .containerfull .container .map p {
    margin-top: 18px;
    margin-bottom: 56px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
  .containerfull .container .valuecontainer h1 {
    font-size: 42px;
  }
  .containerfull .container .valuecontainer p {
    font-size: 16px;
    margin: 10px 0 28px 0;
  }
  .containerfull .container .valuecontainer .rowImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerfull .container .valuecontainer .rowImg h1 {
    margin-top: 28px;
    margin-bottom: 12px;
  }
  .containerfull .container .valuecontainer .rowImg .row-content__1140 {
    display: none;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent {
    padding: 32px 24px;
    border-radius: 16px;
    padding: 32px 24px;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(2) {
    display: block;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(3) {
    display: block;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent img {
    width: 120px;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent h1 {
    font-size: 24px;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent p {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(1) {
    width: auto;
    height: 10%;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(2) {
    width: auto;
    margin: 16px 0;
  }
  .containerfull .container .valuecontainer .rowImg .rowcontent:nth-child(3) {
    width: auto;
    margin: 0;
  }
  .containerfull .container .contacts {
    margin: 48px 0;
    padding: 48px 32px;
  }
  .containerfull .container .contacts h1 {
    padding: 0;
    font-size: 24px;
  }
  .containerfull .container .contacts p {
    padding: 0;
    margin: 8px 0 24px 0;
    font-size: 16px;
  }
  .containerfull .container .contacts .rowcontacts {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerfull .container .vacancy h1 {
    font-size: 42px;
  }
  .containerfull .container .vacancy h6 {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 36px;
  }
  .containerfull .container .vacancy ul li h2 {
    font-size: 24px;
  }
  .containerfull .container .vacancy ul li p {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
  }
  .containerfull .container .writecontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .containerfull .container .writecontainer .writeContext {
    width: 100%;
  }
  .containerfull .container .writecontainer .writeContext h1 {
    font-size: 42px;
  }
  .containerfull .container .writecontainer .writeContext p {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
  }
  .containerfull .container .writecontainer .writeContext a {
    font-size: 16px;
  }
  .containerfull .container .writecontainer .writeImg {
    width: 100%;
    margin-top: 56px;
    padding: 0;
    border-radius: 12px;
  }
  .containerfull .container .footer {
    margin: 60px 24px;
  }
}

@media screen and (max-width: 576px) {
  .containerfull .container .info .context .text {
    width: 100%;
  }
  .containerfull .container .info .context .img {
    width: 100%;
  }
  .containerfull .container .info .context .img img {
    border-radius: 6px;
  }
  .containerfull .container .contextAleph {
    border-radius: 6px;
  }
  .containerfull .container .more {
    width: 90%;
  }
  .containerfull .container .more a {
    font-size: 17px;
  }
  .containerfull .container .contacts .rowcontacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerfull .container .contacts .rowcontacts a {
    margin: 0;
    padding-top: 33px;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(1) {
    padding-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .containerfull .container .contacts .rowcontacts a:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .containerfull .container .map {
    font-size: 17px;
    width: 100%;
  }
  .modal .modal-content {
    width: 100%;
    overflow: scroll;
    max-height: 90%;
    bottom: 0;
    top: auto;
    left: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 8px 8px 0px 0px;
  }
  .modal .modal-content form {
    padding: 20px 16px 34px 16px;
  }
  .modal .modal-content .close-button {
    margin-top: 38px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 361px) {
  .containerfull .container {
    margin: auto 16px;
  }
  .containerfull .container .info .context .text {
    width: 100%;
    margin-bottom: 33px;
  }
  .containerfull .container .info .context .img {
    width: 100%;
    margin-bottom: 96px;
  }
  .containerfull .container .info .context .img img {
    border-radius: 4px;
  }
  .containerfull .container .contextAleph {
    border-radius: 6px;
  }
  .containerfull .container .writecontainer .writeContext h1 {
    letter-spacing: -1px;
  }
  .modal .modal-content form {
    padding: 20px 16px 18px 16px;
  }
}
/*# sourceMappingURL=style.css.map */